extends /layout/layout

block content 
    header.main-header
        div.header-container
            div.filter-container
                form#filter-form(action="/gallery" method="GET")
                    div.filter-group
                        label.header-label(for='department') Departamento:
                        select#department(name='department')
                            option(value='') Seleccionar
                            each department in departments
                                option(value=department.departmentId)= department.displayName
                    div.filter-group
                        label.header-label(for='keyword') Palabra clave:
                        input#keyword(type='text', name='keyword', placeholder='Buscar...')
                    div.filter-group
                        label.header-label(for='location') Localización:
                        input#location(type='text', name='location', placeholder='Buscar...')
                    button.header-btn(type='submit') Filtrar
    section.gallery-section
        div.grid
            each card in cards  
                div.card
                    div.top-info(data-year=`${card.objectDate || 'No hay fecha disponible'}`)
                        if card.primaryImageSmall  
                            img(src=card.primaryImageSmall, alt=card.title)
                        else
                            img(src='/img/nodisp.png', alt='Imagen no disponible')
                    div.bottom-info
                        div.paint-title= card.title  
                        div.culture= card.culture    
                        if card.dynasty              
                            div.dynasty= card.dynasty
                        else 
                            div.dynasty= 'Sin información de dinastía'
                    div.btn-container
                        a.card-btn(href=`/gallery/${card.objectID}`) Ver más
                        
    
        if totalPages > 1
            nav.pagination-container
                ul.pagination-list
                    if currentPage > 1
                        li.pagination-item
                            a(href=`/gallery?page=${currentPage - 1}`) « Anterior
                    each pageNumber in [...Array(totalPages).keys()].map(x => x + 1)
                        li.pagination-item(class=(pageNumber == currentPage ? 'active' : ''))
                            a(href=`/gallery?page=${pageNumber}`)= pageNumber
                    if currentPage < totalPages
                        li.pagination-item
                            a(href=`/gallery?page=${currentPage + 1}`) Siguiente »

